{% load sighting %}

{% for img in object.images.all %}
    <!-- Image {{ forloop.counter }} modal -->
    <div id="id_sighting_lightbox_{{ forloop.counter }}" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class='lightbox-header'>
            <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
        </div>
        <div class='lightbox-content'>
            <img src="{{ img.image.url }}" />
        </div>
    </div>
{% endfor %}

<!-- New Sighting Modal -->
<div id="id_new_sighting" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add A Sighting</h3>
    </div>
    <div class="modal-body">
        <p>&nbsp;</p>
        <div class="new_sighting-container"></div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <a href="#" class="btn btn-success btn-new_sighting-submit">Add Sighting</a>
    </div>
</div>
