{% extends "base.html" %}

{% load humanize %}
{% load sighting %}

{% block content %}

    {% if coordinates %}
        {% sighting_map limit=10 coordinates=coordinates %}
    {% else %}
        {% sighting_map limit=10 %}
    {% endif %}

    <div class="row-fluid">
        <div class="span{% if object %}8{% else %}12{% endif %} hidden-phone">
            <div class="page-header">
                <h2>
                    {% if coordinates %}
                        Sightings Near You
                    {% else %}
                        Sightings In South Africa
                    {% endif %}
                    <small><em>In The Last Week</em></small>
                    <a class="btn btn-success btn-header pull-right" href="#id_new_sighting" data-toggle="modal">
                        <i class="icon-plus icon-white"></i> &nbsp;Add New Sighting
                    </a>
                </h2>
            </div>

            {% if object %}
                {% if coordinates %}
                    {% latest_sightings split=2 limit=20 coordinates=coordinates %}
                {% else %}
                    {% latest_sightings split=2 limit=20 %}
                {% endif %}
            {% else %}
                {% if coordinates %}
                    {% latest_sightings split=3 limit=24 coordinates=coordinates %}
                {% else %}
                    {% latest_sightings split=3 limit=24 %}
                {% endif %}
            {% endif %}

        </div>

        <div class="span12 visible-phone">
            <div class="page-header">
                <h4>
                    {% if coordinates %}
                        Sightings Near You
                    {% else %}
                        Sightings In South Africa
                    {% endif %}
                    <br/>
                    <small><em>In The Last Week</em></small>
                </h4>
            </div>

            {% if object %}
                <div class="span8">
                    <div>
                        <h4><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h4>
                        <small>{{ object.description|default:"" }}</small>
                        <h6><small>Source: <a href="http://en.wikipedia.org/wiki/{{ object.name }}", target="blank">Wikipedia</a></small></h6>
                    </div>
                </div>
                <hr/>
            {% endif %}

            {% if coordinates %}
                {% latest_sightings split=1 limit=10 coordinates=coordinates %}
            {% else %}
                {% latest_sightings split=1 limit=10 %}
            {% endif %}

        </div>

        {% if object %}
            <div class="span3 pull-right hidden-phone">
                <p>&nbsp;</p>
                <div>
                    <div class="page-header">
                        <h4><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h4>
                    </div>
                    <small>{{ object.description|default:"" }}</small>
                    <h6><small>Source: <a href="http://en.wikipedia.org/wiki/{{ object.name }}", target="blank">Wikipedia</a></small></h6>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
