<div class="btn-group">
    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        Share&nbsp;
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-info">
        <li>
            <a class="share share-twitter" href="#twitter">
                <i class="icon-twitter"></i> Twitter
            </a>
        </li>
        <li>
            <a class="share share-facebook" href="#facebook">
                <i class="icon-facebook"></i> Facebook
            </a>
        </li>
        <li>
            <a class="share share-google" href="#google">
                <i class="icon-google"></i> Google+
            </a>
        </li>
    </ul>
</div>
