{% extends "base.html" %}

{% block title %}{{ object.species.common_name }}  Sighting in {{ object.reserve.name }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.lightbox.min.css" type="text/css"/>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.lightbox.min.js"></script>
{% endblock %}

{% load humanize %}
{% load sighting %}
{% load wildlife %}

{% block content %}
    {% sighting_map limit=1 pk=object.pk %}
    <div class="row-fluid">
        <div class="span8">
            <div class="page-header">
                <h2>
                    {{ object.species.common_name }}
                    <small><em>{{ object.reserve.name }}</em></small>
                    <a class="btn btn-success btn-header pull-right" href="#id_new_sighting" data-toggle="modal">
                        <i class="icon-plus icon-white"></i> &nbsp;Add New Sighting
                    </a>
                </h2>
            </div>
            <div>
                <p class="lead">
                    {{ object.user.username|capfirst }} added this sighting, {{ object.date_added.date|fuzzy_date }}, of
                    {% if object.estimated_number == 1 %} a {% endif %}
                    {{ object.species.common_name }}
                    in the {{ object.reserve.name }}, which
                    {% if object.user.profile.gender == 'Male' %} he {% elif object.user.profile.gender == 'Female' %} she {% else %} was {% endif %}
                    spotted on {{ object.date_of_sighting.date }} at {{ object.date_of_sighting.time }}
                </p>
                <blockquote>
                    <p>{{ object.description }}</p>
                    <small>{{ object.user.username }}</small>
                </blockquote>
            </div>
            <div class="page-header">
                <h3>Similiar Sightings</h3>
            </div>
            {% latest_sightings split=2 limit=10 species=object.species reserve=object.reserve exclude_pk=object.pk %}
        </div>
        <div class="span3 pull-right">
            <div class="media">
                {% if object.user.profile.avatar %}
                    <a class="pull-left" href="{% url profile:index object.user.profile.slug %}">
                        <img class="media-object img-rounded" src="{% resize_image object.user.profile.avatar 50 50 %}" width="50" height="50" />
                    </a>
                {% else %}
                    <a class="pull-left" href="{% url profile:index object.user.username %}">
                        <img class="media-object img-rounded" src="{{ STATIC_URL }}img/layout/profile-{{ object.gender|default:"male" }}.png" width="50" height="50" />
                    </a>
                {% endif %}
                <div class="media-body">
                    <h6>
                        <a href="{% url profile:index object.user.profile.slug %}">{{ object.user.username }}</a><br/>
                        <i class="icon-time"></i>
                        <small>{{ object.date_of_sighting.date|fuzzy_date }}</small>
                    </h6>
                </div>
            </div>
            <hr/>
            <div class="span12">
                {% if object.images.all.0 %}
                    <div class="hint span4">
                        <a href="#id_sighting_lightbox_1" data-toggle="lightbox" rel="tooltip" title="Enlarge&nbsp;Image" data-placement="top">
                            <img class="img-rounded" src="{% resize_image object.images.all.0.image 60 60 %}" width="60" height="60" />
                        </a>
                    </div>
                {% else %}
                    <div class="span4">
                        <img class="img-rounded lightest" src="{% resize_image object.species.default_image 60 60 %}" width="60" height="60" />
                    </div>
                {% endif %}

                {% if object.images.all.1 %}
                    <div class="hint span4">
                        <a href="#id_sighting_lightbox_2" data-toggle="lightbox" rel="tooltip" title="Enlarge&nbsp;Image" data-placement="top">
                            <img class="img-rounded" src="{% resize_image object.images.all.1.image 60 60 %}" width="60" height="60" />
                        </a>
                    </div>
                {% else %}
                    <div class="span4">
                        <img class="img-rounded lightest" src="{% resize_image object.species.default_image 60 60 %}" width="60" height="60" />
                    </div>
                {% endif %}

                {% if object.images.all.2 %}
                    <div class="hint span4">
                        <a href="#id_sighting_lightbox_3" data-toggle="lightbox" rel="tooltip" title="Enlarge&nbsp;Image" data-placement="top">
                            <img class="img-rounded" src="{% resize_image object.images.all.2.image 60 60 %}" width="60" height="60" />
                        </a>
                    </div>
                {% else %}
                    <div class="span4">
                        <img class="img-rounded lightest" src="{% resize_image object.species.default_image 60 60 %}" width="60" height="60" />
                    </div>
                {% endif %}
                <div class="span4"></div>
            </div>
            <div>
                <h4>
                    <img src="{% resize_image object.species.default_image 50 50 %}" class="invert" width="50" height="50" />
                    <a href="{{ object.species.get_absolute_url }}">{{ object.species.common_name }}</a>
                </h4>
                <small>{{ object.species.general_info|default:"" }}</small>
                <h6><small>Source: <a href="http://en.wikipedia.org/wiki/{{ object.species.common_name }}", target="blank">Wikipedia</a></small></h6>
            </div>
            <hr/>
            <div>
                <h4>
                    <a href="{{ object.reserve.get_absolute_url }}">{{ object.reserve.name }}</a>
                </h4>
                <small>{{ object.reserve.description|default:"" }}</small>
                <h6><small>Source: <a href="http://en.wikipedia.org/wiki/{{ object.reserve.name }}", target="blank">Wikipedia</a></small></h6>
            </div>
        </div>
    </div>
    {% include 'sighting/modals.html' %}
{% endblock %}
