{% load comments %}

{% get_comment_form for object as form %}

<div>
    <form class="form-inline form-comment" action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
        <input class="span11" type="text" id="id_comment" name="comment" placeholder="Write a comment..."/>
        <button class="btn btn-success hidden-phone"><i class="icon-comment icon-white"></i></button>
        <div class="spacer"></div>
    </form>

    <div class="comments">
        <div class="media">
            <button type="button" class="close close-comment pull-right">&times;</button>
            <img class="media-object img-rounded pull-left" src="{{ STATIC_URL }}img/layout/profile-male.png" width="35" height="35" />
            <div class="media-body">
                <blockquote class="comment">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.
                    <small>1 hour ago</small>
                </blockquote>
            </div>
        </div>
        <div class="media">
            <button type="button" class="close close-comment pull-right">&times;</button>
            <img class="media-object img-rounded pull-left" src="{{ STATIC_URL }}img/layout/profile-male.png" width="35" height="35" />
            <div class="media-body">
                <blockquote class="comment">
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.
                    <small>1 hour ago</small>
                </blockquote>
            </div>
        </div>
        <div class="media">
            <button type="button" class="close close-comment pull-right">&times;</button>
            <img class="media-object img-rounded pull-left" src="{{ STATIC_URL }}img/layout/profile-male.png" width="35" height="35" />
            <div class="media-body">
                <blockquote class="comment">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi.<small>1 hour ago</small></blockquote>
            </div>
        </div>
    </div>
</div>
