
<form class="form-horizontal form-new_sighting" method="post" action="{% url 'sighting:create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="new_sighting-carousel" class="carousel slide">
        <div class="carousel-inner">
            <fieldset class="active item" data-item="0">
                <h5>Step 1 <small>- Add a photo of the sighting <em><strong>(Optional)</strong></em></small></h5>
                <p>&nbsp;</p>
                {{ form.image_ids }}
                <input id="id_image" type="file" class="uk-input input" name="image" data-upload-url="{% url 'sighting:create_image' %}" data-max-file-size="5mb" data-file-resize='{"width": 800, "height": 600, "quality": 90}'/>
            </fieldset>

            <fieldset class="item" data-item="1">
                <h5>Step 2 <small>- Detect GPS Coordinates <em><strong>(Optional)</strong></em></small></h5>
                <p>&nbsp;</p>
                <div class="align-center uk-info">
                    <h2 class="info-detect-location">GPS Coordinates not detected from the photo.</h2>
                    <a class="btn btn-detect-location">
                        <i class="icon-map-marker"></i> Use My Current Location
                    </a>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <h5><small class="help-detect-location">Use your current location or skip this step and add the sighting location manually.</small></h5>
                </div>
            </fieldset>

            <fieldset class="item" data-item="2">
                <h5>Step 3 <small>- Add some detail about the sighting <em><strong>(Required)</strong></em></small></h5>
                <p>&nbsp;</p>
                <div class="control-group">
                    <label class="control-label" for="id_sighting_create-date_of_sighting">Date of Sighting</label>
                    <div class="controls">
                        <div class="input-prepend date" id="id_datepicker_sighting" data-date-format="yyyy-mm-dd" data-date="{% now 'Y-m-d' %}">
                            <span class="btn add-on"><i class="icon-calendar"></i></span>
                            {{ form.date_of_sighting }}
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_sighting_create-time_of_sighting">Time of Sighting</label>
                    <div class="controls">
                        <div class="input-prepend time">
                            <span class="btn add-on"><i class="icon-time" id="id_timepicker"></i></span>
                            {{ form.time_of_sighting }}
                        </div>
                    </div>
                </div>
                {{ form.reserve }}
                <div class="control-group" data-item="">
                    <label class="control-label" for="id_sighting_create-reserve_search">Reserve</label>
                    <div class="controls">{{ form.reserve_search}}</div>
                </div>
                {{ form.species }}
                <div class="control-group">
                    <label class="control-label" for="id_sighting_create-species_search">Species</label>
                    <div class="controls">{{ form.species_search }}</div>
                </div>
            </fieldset>

            <fieldset class="item" data-item="3">
                <h5>Step 4 <small>- Dragging the marker to the correct location on the map <em><strong>(Required)</strong></em></small></h5>
                <p>&nbsp;</p>
                {{ form.latitude }}{{ form.longitude }}
                <div class="sighting-map"></div>
            </fieldset>

            <fieldset class="item" data-item="3">
                <h5>Step 5 <small>- Add some more details about the sighting <em><strong>(Optional)</strong></em></small></h5>
                <p>&nbsp;</p>
                <div class="control-group">
                    <label class="control-label" for="id_sighting_create-estimated_number">Estimated Number</label>
                    <div class="controls">{{ form.estimated_number }}</div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_sighting_create-sex">Gender</label>
                    <div class="controls">{{ form.sex }}</div>
                </div>
                <div class="control-group">
                    <label class="control-label">Behaviour</label>
                    <div class="controls">
                        <label class="checkbox inline">
                            {{ form.with_young }} With Young &nbsp;
                        </label>
                        <label class="checkbox inline">
                            {{ form.with_kill }} On a Kill
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_sighting_create-description">Notes</label>
                    <div class="controls">{{ form.description }}</div>
                </div>
            </fieldset>
        </div>
    </div>
</form>
