{% extends "base.html" %}

{% block title %}{{ object.species.common_name }}  Sighting in {{ object.reserve.name }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.lightbox.min.css" type="text/css"/>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.lightbox.min.js"></script>
    <script type="text/javascript">
        setSpecies = function() {
            $('#id_sighting_create-species').val('{{ object.species.id }}');
        }
        setReserve = function() {
            $('#id_sighting_create-reserve').val('{{ object.reserve.id }}');
        }
    </script>
{% endblock %}

{% load humanize %}
{% load sighting %}
{% load wildlife %}

{% block content %}

    {% sighting_map limit=1 protected=0 pk=object.pk %}

    <div class="row-fluid">
        <div class="span8 hidden-phone">
            <div class="page-header">
                <h2>
                    {{ object.species.common_name }}
                    <small><em>{{ object.reserve.name }}</em></small>
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-success btn-header pull-right" href="#id_new_sighting" data-toggle="modal">
                            <i class="icon-plus icon-white"></i> &nbsp;Add New Sighting
                        </a>
                    {% else %}
                        <a class="btn btn-success btn-header pull-right" href="#id_signup_modal" data-toggle="modal">
                            <i class="icon-plus icon-white"></i> &nbsp;Add New Sighting
                        </a>
                    {% endif %}
                </h2>
            </div>
            <div>
                <p class="lead">
                    {{ object.user.username|capfirst }} added this sighting, {{ object.date_added.date|fuzzy_date }}, of
                    {% if object.estimated_number == 1 %} a {% endif %}
                    {{ object.species.common_name }}
                    in the {{ object.reserve.name }}, which
                    {% if object.user.profile.gender == 'Male' %} he {% elif object.user.profile.gender == 'Female' %} she {% else %} was {% endif %}
                    spotted on {{ object.date_of_sighting.date }} at {{ object.date_of_sighting.time }}
                </p>
                {% if object.description %}
                    <blockquote>
                        <p>{{ object.description }}</p>
                        <small>{{ object.user.username }}</small>
                    </blockquote>
                {% endif %}
            </div>
            <p>&nbsp;</p>
            <div class="page-header">
                <h3>Similiar Sightings</h3>
            </div>

            {% latest_sightings split=2 limit=10 exclude_pk=object.pk species=object.species reserve=object.reserve %}

        </div>

        <div class="visible-phone">
            <div class="media">
                {% if object.user.profile.avatar %}
                    <a class="pull-left" href="{% url 'profile:index' object.user.profile.slug %}">
                        <img class="media-object img-rounded" src="{% resize_image object.user.profile.avatar 50 50 %}" width="50" height="50" />
                    </a>
                {% else %}
                    <a class="pull-left" href="{% url 'profile:index' object.user.username %}">
                        <img class="media-object img-rounded" src="{{ STATIC_URL }}img/layout/profile-{{ object.user.gender|default:"male"|lower }}.png" width="50" height="50" />
                    </a>
                {% endif %}
                <div class="media-body">
                    <h6>
                        <a href="{% url 'profile:index' object.user.profile.slug %}">{{ object.user.username }}</a><br/>
                        <i class="icon-time"></i>
                        <small>{{ object.date_of_sighting.date|fuzzy_date }}</small>
                    </h6>
                </div>
            </div>

            <hr/>

            {% if object.public %}{% include 'sighting/sighting_share.html' %}<hr/>{% endif %}

            <h4>
                <a href="{{ object.species.get_absolute_url }}">{{ object.species.common_name }}</a><br/>
                <small><em><a href="{{ object.reserve.get_absolute_url }}">{{ object.reserve.name }}</a></em></small>
            </h4>
            <p>
                <small>
                    {{ object.user.username|capfirst }} added this sighting, {{ object.date_added.date|fuzzy_date }}, of
                    {% if object.estimated_number == 1 %} a {% endif %}
                    {{ object.species.common_name }}
                    in the {{ object.reserve.name }}, which
                    {% if object.user.profile.gender == 'Male' %} he {% elif object.user.profile.gender == 'Female' %} she {% else %} was {% endif %}
                    spotted on {{ object.date_of_sighting.date }} at {{ object.date_of_sighting.time }}
                </small>
            </p>
            {% if object.description %}
                <blockquote>
                    <p>{{ object.description }}</p>
                    <small>{{ object.user.username }}</small>
                </blockquote>
            {% endif %}

            {% if object.cover_image %}
                <p>&nbsp;</p>
                <div class="span12">
                    <img class="img-rounded" src="{% resize_image object.cover_image 270 200 %}" width="270" height="200" />
                </div>
                <p>&nbsp;</p>
            {% endif %}

            <p>&nbsp;</p>
            <div class="page-header">
                <h4>Similiar Sightings</h4>
            </div>

            {% latest_sightings split=2 limit=5 exclude_pk=object.pk species=object.species reserve=object.reserve %}

        </div>

        <div class="span3 pull-right hidden-phone">
            <div class="media">
                {% if object.user.profile.avatar %}
                    <a class="pull-left" href="{% url 'profile:index' object.user.profile.slug %}">
                        <img class="media-object img-rounded" src="{% resize_image object.user.profile.avatar 50 50 %}" width="50" height="50" />
                    </a>
                {% else %}
                    <a class="pull-left" href="{% url 'profile:index' object.user.username %}">
                        <img class="media-object img-rounded" src="{{ STATIC_URL }}img/layout/profile-{{ object.user.gender|default:"male"|lower }}.png" width="50" height="50" />
                    </a>
                {% endif %}
                <div class="media-body">
                    <h6>
                        <a href="{% url 'profile:index' object.user.profile.slug %}">{{ object.user.username }}</a><br/>
                        <i class="icon-time"></i>
                        <small>{{ object.date_of_sighting.date|fuzzy_date }}</small>
                    </h6>
                </div>
            </div>

            <hr/>

            {% if object.public %}{% include 'sighting/sighting_share.html' %}<hr/>{% endif %}

            {% if object.cover_image %}
                <div class="span12">
                    <div class="span12">
                        <a href="#id_sighting_lightbox_1" data-toggle="lightbox">
                            <img class="img-rounded" src="{% resize_image object.cover_image 270 200 %}" width="270" height="200" />
                        </a>
                    </div>
                </div>
                <p>&nbsp;</p>
            {% endif %}

            <div>
                <h4>
                    <img src="{% resize_image object.species.inverted_default_image 50 50 %}" width="50" height="50" />
                    <a href="{{ object.species.get_absolute_url }}">{{ object.species.common_name }}</a>
                </h4>
                <small>{{ object.species.general_info|default:"" }}</small>
                <h6><small>Source: <a href="http://en.wikipedia.org/wiki/{{ object.species.common_name }}", target="blank">Wikipedia</a></small></h6>
            </div>
            <hr/>
            <div>
                <h4>
                    <a href="{{ object.reserve.get_absolute_url }}">{{ object.reserve.name }}</a>
                </h4>
                <small>{{ object.reserve.description|default:"" }}</small>
                <h6><small>Source: <a href="http://en.wikipedia.org/wiki/{{ object.reserve.name }}", target="blank">Wikipedia</a></small></h6>
            </div>
        </div>
    </div>
{% endblock %}
