.installed.cfg
.DS_Store
.Python
*.egg-info/
*.pyc
*.komodoproject
*.db
*._
bin/
include/
lib/
bushlog/settings/dev.py
bushlog/settings/production.py
bushlog/settings/staging.py
bushlog/static/admin
bushlog/media/avatars
bushlog/media/sightings
bushlog/static/cache
*.tar.bz2
