{% extends "base.html" %}

{% block content %}

    <!-- Sign up form -->
    {% if type == 'signup' %}
        <div class="modal-header">
            <h3>Sign Up</h3>
        </div>
        <div>
            <p>&nbsp;</p>
            <div class="signup-container">
                <div class="align-center loader">
                    <img src="{{ STATIC_URL }}img/icons/loader.gif"/>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-back">Close</a>
            <a class="btn btn-success btn-signup-submit">Sign Up</a>
        </div>
    {% endif %}

    {% if request.user.is_authenticated %}
        <!-- Edit profile modal -->
        {% if type == 'update' %}
            <div class="modal-header">
                <h3>Update Your Profile</h3>
            </div>
            <div>
                <p>&nbsp;</p>
                <div class="update-container">
                <div class="align-center loader">
                    <img src="{{ STATIC_URL }}img/icons/loader.gif"/>
                    <p>&nbsp;</p>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-back">Close</a>
                <a class="btn btn-success btn-update-submit">Update</a>
            </div>
        {% endif %}
    {% endif %}

    <!-- Forgot password modal -->
    {% if type == 'forgotpassword' %}
        <div class="modal-header">
            <h3>Forgot Password</h3>
        </div>
        <div class="modal-body">
            <p>&nbsp;</p>
            <div class="forgotpassword-container">
                <div class="align-center loader">
                    <img src="{{ STATIC_URL }}img/icons/loader.gif"/>
                    <p>&nbsp;</p>
                </div>
           </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-back">Close</a>
            <a class="btn btn-success btn-forgotpassword-submit">Reset</a>
        </div>
    {% endif %}

    <!-- Reset password modal -->
    {% if type == 'resetpassword' %}
        <div class="modal-header">
            <h3>Reset Password</h3>
        </div>
        <div>
            <p>&nbsp;</p>
            <div class="resetpassword-container">
                <div class="align-center loader">
                    <img src="{{ STATIC_URL }}img/icons/loader.gif"/>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-back">Close</a>
            <a class="btn btn-success btn-resetpassword-submit">Reset</a>
        </div>
    {% endif %}

    <!-- Activate modal -->
    {% if type == 'activate' %}
        <div class="modal-header">
            <h3>Activate Your Account</h3>
        </div>
        <div>
            <p>&nbsp;</p>
            <div class="activate-container">
                <div class="align-center loader">
                    <img src="{{ STATIC_URL }}img/icons/loader.gif"/>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-back">Close</a>
            <a class="btn btn-success btn-activate-submit">Activate</a>
        </div>
    {% endif %}

    <!-- Resend activation modal -->
    {% if type == 'resendactivation' %}
        <div class="modal-header">
            <h3>Resend Profile Activation Email</h3>
        </div>
        <div>
            <p>&nbsp;</p>
            <div class="resendactivation-container">
                <div class="align-center loader">
                    <img src="{{ STATIC_URL }}img/icons/loader.gif"/>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-back">Close</a>
            <a class="btn btn-success btn-resendactivation-submit">Resend</a>
        </div>
    {% endif %}

    <!-- Avatar modal -->
    {% if type == 'avatar' %}
        <div class="modal-header">
            <h3>Update Your Avatar</h3>
        </div>
        <div>
            <p>&nbsp;</p>
            <div class="avatar-container">
                <div class="align-center loader">
                    <img src="{{ STATIC_URL }}img/icons/loader.gif"/>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-back">Close</a>
        </div>
    {% endif %}

{% endblock %}

{% block modals %}{% endblock %}
