<!-- Sign in modal -->
<div id="id_signin_modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Sign In</h3>
    </div>
    <div class="modal-body">
        <p>&nbsp;</p>
        <div class="signin-container"></div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <a href="#" class="btn btn-success btn-signin-submit">Sign In</a>
    </div>
</div>

<!-- Sign up modal -->
<div id="id_signup_modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Sign Up</h3>
    </div>
    <div class="modal-body">
        <p>&nbsp;</p>
        <div class="signup-container"></div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <a href="#" class="btn btn-success btn-signup-submit">Sign Up</a>
    </div>
</div>

<!-- Edit profile modal -->
<div id="id_update_modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Update Your Profile</h3>
    </div>
    <div class="modal-body">
        <p>&nbsp;</p>
        <div class="update-container"></div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <a href="#" class="btn btn-success btn-update-submit">Update</a>
    </div>
</div>

<!-- Forgot password modal -->
<div id="id_resetpassword_modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Reset Password</h3>
    </div>
    <div class="modal-body">
        <p>&nbsp;</p>
        <div class="resetpassword-container"></div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <a href="#" class="btn btn-success btn-resetpassword-submit">Reset</a>
    </div>
</div>

<!-- Forgot password modal -->
<div id="id_resendactivation_modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Resend Profile Activation Email</h3>
    </div>
    <div class="modal-body">
        <p>&nbsp;</p>
        <div class="resendactivation-container"></div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <a href="#" class="btn btn-success btn-resendactivation-submit">Resend</a>
    </div>
</div>

{% block extra_js %}

    {% load profile %}

    {% if request.session.show_update %}
        <script type="text/javascript">
            $("#id_update_modal").modal('show');
        </script>
        {% del_session 'show_update' %}
    {% endif %}
{% endblock %}
