<form class="form-horizontal form-resetpassword" method="post" action="{% url 'profile:reset_password' %}">
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label" for="id_reset_password-password">Password</label>
        <div class="controls">{{ form.password }}</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_reset_password-confirm_password">Confirm password</label>
        <div class="controls">{{ form.confirm_password }}</div>
    </div>
</form>
