<form class="form-horizontal form-signup" method="post" action="{% url 'profile:signup' %}">
    {% csrf_token %}
    <div class="uk-info align-center">
        <h2>Sign up with your favorite authentication provider or fill in the form below.</h2>
        <a href="{% url 'socialauth_begin' 'facebook' %}" class="btn btn-info">
            <i class="icon-facebook icon-white"></i>&nbsp; Facebook
        </a>
        <a href="{% url 'socialauth_begin' 'google-oauth2' %}" class="btn btn-info">
            <i class="icon-google icon-white"></i>&nbsp; Google
        </a>
    </div>
    <hr/>
    <div class="control-group">
        <label class="control-label" for="id_username">Username</label>
        <div class="controls">{{ form.username }}</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_email">Email address</label>
        <div class="controls">{{ form.email }}</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_password">Password</label>
        <div class="controls">{{ form.password }}</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_confirm_password">Confirm password</label>
        <div class="controls">{{ form.confirm_password }}</div>
    </div>
</form>
