<form class="form-vertical form-signin" method="post" action="{% url 'profile:signin' %}">
    {% csrf_token %}
    {{ form.username_email }}
    {{ form.password }}
    <label class="checkbox">
        {{ form.remember_me }} <small>Remember Me</small>
    </label>
    <div>&nbsp;</div>
    <div class="btn-group pull-right">
        <a class="btn btn-success btn-signin-submit"><i class="icon-lock icon-white"></i> Sign In</a>
        <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'socialauth_begin' 'google-oauth2' %}"><i class="icon-google"></i> Sign In With Google</a></li>
            <li><a href="{% url 'socialauth_begin' 'facebook' %}"><i class="icon-facebook"></i> Sign In With Facebook</a></li>
            <li class="divider"></li>
            <li class="hidden-phone">
                <a href="#id_signup_modal" data-toggle="modal"><i class="icon-user"></i> Sign Up</a>
            </li>
            <li class="hidden-phone">
                <a href="#id_resetpassword_modal" data-toggle="modal"><i class="icon-question-sign"></i> Forgot Password</a>
            </li>
            <li class="hidden-phone">
                <a href="#id_resendactivation_modal" data-toggle="modal"><i class="icon-refresh"></i> Resend Activation Email</a>
            </li>

            <li class="visible-phone">
                <a href="{% url 'profile:forms' 'signup' %}"><i class="icon-user"></i> Sign Up</a>
            </li>
            <li class="visible-phone">
                <a href="{% url 'profile:forms' 'resetpassword' %}"><i class="icon-question-sign"></i> Forgot Password</a>
            </li>
            <li class="visible-phone">
                <a href="{% url 'profile:forms' 'resendactivation' %}"><i class="icon-refresh"></i> Resend Activation Email</a>
            </li>
        </ul>
    </div>
</form>
