<form class="form-horizontal form-update" method="post" action="{% url 'profile:update' %}">
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label" for="id_update-username">Username</label>
        <div class="controls">{{ form.username }}</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_update-full_name">Full name</label>
        <div class="controls">{{ form.first_name }} &nbsp; &nbsp; {{ form.last_name }}</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_update-email">Email address</label>
        <div class="controls">{{ form.email }}</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_update-country">Country</label>
        <div class="controls">{{ form.country }}</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_update-gender">Gender</label>
        <div class="controls">{{ form.gender }}</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_update-birth_date">Date of Birth</label>
        <div class="controls">
            <div class="input-append date" id="id_datepicker" data-date="01/01/1970" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                {{ form.birth_date }}
                <span class="btn add-on"><i class="icon-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_update-biography">Profile</label>
        <div class="controls">{{ form.biography }}</div>
    </div>
</form>
