{% extends "base.html" %}

{% block title %}{{ object.user.username|capfirst }}'s BushLog{% endblock %}

{% block content %}

    {% load sighting %}

    {% sighting_map limit=5 user=object.user %}
    <div class="row-fluid">
        <div class="span8">
            <div class="page-header">
                <h2>
                    {{ object.user.username|capfirst }}'s BushLog
                    <button class="btn btn-success btn-header pull-right" type="button">
                        <i class="icon-plus icon-white"></i> &nbsp;Add New Sighting
                    </button>
                </h2>
            </div>
            {% latest_sightings split=2 limit=10 user=object.user %}
        </div>
        <div class="span3 pull-right">
            <div>
                {% if object.avatar %}
                    <img src="{% resize_image object.avatar 220 220 %}" class="img-rounded" width="220" height="220" />
                {% else %}
                    <img src="{{ STATIC_URL }}img/layout/profile-{{ object.gender|default:"male" }}.png" class="img-rounded" width="220" height="220" />
                {% endif %}
            </div>
            <div>
                <h4>
                    <strong>{{ object.user.username }} </strong><br/>
                    <small>{{ object.country|default:"Unknown Location" }}</small>
                </h4>
            </div>
            {% if object.biography %}
                <hr/>
                <div>
                    <small>{{ object.biography|default:"" }}</small>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
