{% extends "base.html" %}

{% block title %}{{ object.user.username|capfirst }}'s BushLog{% endblock %}

{% block content %}

    {% load sighting %}

    {% sighting_map limit=10 user=object.user %}

    <div class="row-fluid">
        <div class="span8">
            <div class="page-header">
                <h2>
                    {{ object.user.username|capfirst }}'s BushLog
                    <a class="btn btn-success btn-header pull-right" href="#id_new_sighting" data-toggle="modal">
                        <i class="icon-plus icon-white"></i> &nbsp;Add New Sighting
                    </a>
                </h2>
            </div>

            {% latest_sightings split=2 limit=10 user=object.user %}

        </div>
        <div class="span3 pull-right">
            <div class="media">
                {% if object.user.profile.avatar %}
                    <a class="pull-left" href="{% url 'profile:index' object.user.profile.slug %}">
                        <img class="media-object img-rounded" src="{% resize_image object.user.profile.avatar 50 50 %}" width="50" height="50" />
                    </a>
                {% else %}
                    <a class="pull-left" href="{% url 'profile:index' object.user.username %}">
                        <img class="media-object img-rounded" src="{{ STATIC_URL }}img/layout/profile-{{ object.gender|default:"male" }}.png" width="50" height="50" />
                    </a>
                {% endif %}
                <div class="media-body">
                    <h6>
                        <a href="{% url 'profile:index' object.user.profile.slug %}">{{ object.user.username }}</a><br/>
                        <i class="icon-map-marker"></i>
                        <small>{{ object.country }}</small>
                    </h6>
                </div>
            </div>
            {% if object.biography %}
                <hr/>
                <div>
                    <small>{{ object.biography|default:"" }}</small>
                </div>
            {% endif %}

            {% if request.user == object.user %}
                <hr/>
                <div>
                    <a href="#id_avatar_modal" class="btn btn-info span6" data-toggle="modal">Change Avatar</a>
                    <a href="#id_update_modal" class="btn btn-info span6" data-toggle="modal">Update Profile</a>
                </div>
                <div>

                </div>
                <div class="spacer">&nbsp;</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
