
{% extends "base.html" %}

{% block title %}{{ object.user.username|capfirst }}'s Bushlog{% endblock %}

{% block decription %}{{ object.user.username|capfirst }}'s Bushlog - Wildlife Sightings in Southern Africa.{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        // initiate continous scrolling
        $(document).ready(function () {
            $(window).scroll( function() {
                if($(window).scrollTop() == $(document).height() - $(window).height()) {
                    latestSightingScroll();
                }
            });
            latestSightingScroll();
        });
    </script>
{% endblock %}

{% load humanize %}
{% load profile %}
{% load sighting %}

{% block content %}

    {% if request.user == object.user %}
        {% sighting_map protected=0 limit=20 user=object.user %}
    {% else %}
        {% sighting_map limit=20 user=object.user %}
    {% endif %}

    <div class="row-fluid">
        <div class="span8 hidden-phone">
            <div class="page-header">
                <h2>
                    {{ object.user.username|capfirst }}'s Bushlog

                    {% if request.user.is_authenticated %}
                        <a class="btn btn-success btn-header pull-right" href="#id_new_sighting" data-toggle="modal">
                            <i class="icon-plus icon-white"></i> &nbsp;Add New Sighting
                        </a>
                    {% else %}
                        <a class="btn btn-success btn-header pull-right" href="#id_signup_modal" data-toggle="modal">
                            <i class="icon-plus icon-white"></i> &nbsp;Add New Sighting
                        </a>
                    {% endif %}

                </h2>
            </div>

            <div class="latest-sightings" data-split="2" data-limit="20" data-offset="0" data-user="{{ object.user.id }}"></div>
        </div>

        <div class="span8 visible-phone">
            <div class="media">
                {% if object.user.profile.avatar %}
                    {% if request.user == object.user %}
                        <a href="{% url 'profile:forms' 'avatar' %}" class="hint pull-left" rel="tooltip" title="Update&nbsp;Avatar" data-placement="top">
                            <img class="media-object img-rounded" src="{% resize_image object.user.profile.avatar 60 60 %}" width="60" height="60" />
                        </a>
                    {% else %}
                        <img class="media-object img-rounded pull-left" src="{% resize_image object.user.profile.avatar 60 60 %}" width="60" height="60" />
                    {% endif %}
                {% else %}
                    {% if request.user == object.user %}
                        <a href="{% url 'profile:forms' 'avatar' %}" class="hint pull-left" rel="tooltip" title="Add&nbsp;Avatar" data-placement="top">
                            <img class="media-object img-rounded" src="{{ STATIC_URL }}img/layout/profile-{{ object.gender|default:"male"|lower }}_60_60.png" width="60" height="60" />
                        </a>
                    {% else %}
                        <img class="media-object img-rounded pull-left" src="{{ STATIC_URL }}img/layout/profile-{{ object.gender|default:"male"|lower }}_60_60.png" width="60" height="60" />
                    {% endif %}
                {% endif %}
                <div class="media-body">
                    <h6>
                        <a href="{% url 'profile:index' object.user.profile.slug %}">{{ object.user.username|capfirst }}'s Bushlog</a><br/>
                        <i class="icon-flag"></i>
                        <small>{{ object.country|default:"Unknown" }}</small><br/>
                        <i class="icon-camera"></i>
                        <small>{% user_sighting_count object.user %} Sightings</small>&nbsp;
                        <i class="icon-comment"></i>
                        <small>{% user_comment_count object.user %} Comments</small>
                    </h6>
                </div>
            </div>

            <div class="spacer"></div>

            {% include 'action/share.html' %}

            <div class="spacer"></div>

            <div>
                <small>{{ object.biography|default:"" }}</small>
            </div>

            <hr/>

            <div class="latest-sightings" data-split="1" data-limit="10" data-offset="0" data-user="{{ object.user.id }}"></div>

        </div>

        <div class="span3 pull-right hidden-phone">
            <div class="media">
                {% if object.user.profile.avatar %}
                    {% if request.user == object.user %}
                        <a href="#id_avatar_modal" data-toggle="modal" class="hint pull-left" rel="tooltip" title="Update&nbsp;Avatar" data-placement="top">
                            <img class="media-object img-rounded" src="{% resize_image object.user.profile.avatar 60 60 %}" width="60" height="60" />
                        </a>
                    {% else %}
                        <img class="media-object img-rounded pull-left" src="{% resize_image object.user.profile.avatar 60 60 %}" width="60" height="60" />
                    {% endif %}
                {% else %}
                    {% if request.user == object.user %}
                        <a href="#id_avatar_modal" data-toggle="modal" class="hint pull-left" rel="tooltip" title="Add&nbsp;Avatar" data-placement="top">
                            <img class="media-object img-rounded" src="{{ STATIC_URL }}img/layout/profile-{{ object.gender|default:"male"|lower }}_60_60.png" width="60" height="60" />
                        </a>
                    {% else %}
                        <img class="media-object img-rounded pull-left" src="{{ STATIC_URL }}img/layout/profile-{{ object.gender|default:"male"|lower }}_60_60.png" width="60" height="60" />
                    {% endif %}
                {% endif %}
                <div class="media-body">
                    <h6>
                        <a href="{% url 'profile:index' object.user.profile.slug %}">{{ object.user.username }}</a><br/>
                        <i class="icon-flag"></i>
                        <small>{{ object.country|default:"Unknown" }}</small><br/>
                        <i class="icon-camera"></i>
                        <small>{% user_sighting_count object.user %} Sightings</small>&nbsp;
                        <i class="icon-comment"></i>
                        <small>{% user_comment_count object.user %} Comments</small>
                    </h6>
                </div>
            </div>

            <div class="spacer"></div>

            {% include 'action/share.html' %}

            {% if object.biography %}
                <hr/>
                <div>
                    <small>{{ object.biography|default:"" }}</small>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
