{% extends "base.html" %}

{% block content %}
    {% load sighting %}
    {% sighting_map limit=5 reserve=object %}
    <div class="row">
        <div class="span9">
            <div class="page-header span8">
                <h1>{{ object.name }}</h1>
            </div>
            {% latest_sightings limit=20 reserve=object %}
        </div>
        <div>&nbsp;</div>
        <div class="span3">
            <div>
                <h4>
                    <strong>{{ object.country }}</strong><br/>
                    <small>{{ object.website|urlize }}</small>
                </h4>
            </div>
            <hr/>
            <div>
                <small>{{ object.description|default:"" }}</small>
            </div>
            <div>
                <div class="page-header span3">
                    <h4>Species List</h4>
                </div>
                {% for species in object.species.all %}
                    <small><div>
                        <img src="{% resize_image species.default_image 30 30 %}" class="img-rounded invert" width="30" height="30" /> &nbsp;
                        <a href="{% url wildlife:index species.slug %}">{{ species.common_name }}</a>
                    </div></small>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
