
{% extends "base.html" %}

{% block title %}{{ object.name }} Wildlife Sightings{% endblock %}
{% block decription %}Wildlife Sightings in {{ object.name }}, {{ object.country.all|join:" | " }}{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        setReserve = function() {
            $('#id_sighting_create-reserve').val('{{ object.id }}');
            $('#id_sighting_create-reserve_search').val('{{ object.name }}').attr('readonly', true).addClass('cancel');
        }

        // initiate continous scrolling
        $(document).ready(function () {
            $(window).scroll( function() {
                if($(window).scrollTop() == $(document).height() - $(window).height()) {
                    latestSightingScroll();
                }
            });
            latestSightingScroll();
        });

        initLikeButton();
    </script>
{% endblock %}

{% load action %}
{% load humanize %}
{% load sighting %}

{% block content %}

    {% sighting_map limit=20 reserve=object %}

    <div class="row-fluid">
        <div class="span8 hidden-phone">
            <div class="page-header">
                <h2>
                    {{ object.name }}

                    {% if request.user.is_authenticated %}
                        <a class="btn btn-success btn-header pull-right" href="#id_new_sighting" data-toggle="modal">
                            <i class="icon-plus icon-white"></i> &nbsp;Add New Sighting
                        </a>
                    {% else %}
                        <a class="btn btn-success btn-header pull-right" href="#id_signup_modal" data-toggle="modal">
                            <i class="icon-plus icon-white"></i> &nbsp;Add New Sighting
                        </a>
                    {% endif %}

                </h2>
            </div>

            <div class="latest-sightings" data-split="2" data-limit="20" data-offset="0" data-reserve="{{ object.id }}"></div>

        </div>

        <div class="span8 visible-phone">
            <h4>
                {{ object.name }}
            </h4>

            <h4>
                <small>{{ object.country.all|join:" | " }}</small><br/>
                <small>{{ object.website|urlize }}</small>
            </h4>

            <h6>
                <i class="icon-camera"></i>
                <small>{{ object.sightings.active.count|intcomma }} Sightings</small> &nbsp;
                <i class="icon-user"></i>
                <small><span class="checkin-count">0</span> Checkins</small> &nbsp;
                <i class="icon-star"></i>
                <small><span class="like-count">0</span> Likes</small> &nbsp;
            </h6>

            <div class="spacer"></div>

            {% like_button %}
            {% include 'action/share.html' %}

            <hr/>

            <p>
                <small>{{ object.description|default:"" }}</small>
                <h6><small>Source: <a href="http://en.wikipedia.org/wiki/{{ object.name }}" target="blank">Wikipedia</a></small></h6>
            </p>

            <div class="accordion" id="id_accordion-species_list">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#id_accordion-species_list" href="#id_accordion-species_list_body">
                            Species List
                            <i class="pull-right icon-chevron-down"></i>
                        </a>
                    </div>
                    <div id="id_accordion-species_list_body" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% for species in object.species.all %}
                                <small><div>
                                    <img src="{% resize_image species.inverted_default_image 30 30 %}" class="img-rounded" width="30" height="30" alt="{{ species.common_name }}" /> &nbsp;
                                    <a href="{% url 'sighting:list' object.slug species.slug %}">{{ species.common_name }}</a>
                                </div></small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="latest-sightings" data-split="1" data-limit="10" data-offset="0" data-reserve="{{ object.id }}"></div>

        </div>

        <div class="span3 pull-right hidden-phone">
            <div>
                <h4>
                    <strong>{{ object.country.all|join:" | " }}</strong><br/>
                    <small>{{ object.website|urlize }}</small>
                </h4>
            </div>

            <h6>
                <i class="icon-camera"></i>
                <small>{{ object.sightings.active.count|intcomma }} Sightings</small> &nbsp;
                <i class="icon-check"></i>
                <small><span class="checkin-count">0</span> Checkins</small> &nbsp;
                <i class="icon-star"></i>
                <small><span class="like-count">0</span> Likes</small> &nbsp;
            </h6>

            <div class="spacer"></div>

            {% like_button %}
            {% include 'action/share.html' %}

            <hr/>

            <div>
                <small>{{ object.description|default:"" }}</small>
                <h6><small>Source: <a href="http://en.wikipedia.org/wiki/{{ object.name }}" target="blank">Wikipedia</a></small></h6>
            </div>

            <p>&nbsp;</p>

            <div>
                <div class="page-header">
                    <h4>Species List</h4>
                </div>
                {% for species in object.species.all %}
                    <small><div>
                        <img src="{% resize_image species.inverted_default_image 30 30 %}" class="img-rounded" width="30" height="30" alt="{{ species.common_name }}" /> &nbsp;
                        <a href="{% url 'sighting:list' object.slug species.slug %}">{{ species.common_name }}</a>
                    </div></small>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
