
{% extends "base.html" %}

{% block title %}{{ object.common_name }} Sightings in Southern Africa{% endblock %}
{% block decription %}Sightings of {{ object.common_name }} ({{ object.scientific_name }}) in Southern Africa{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        setSpecies = function() {
            $('#id_sighting_create-species').val('{{ object.id }}');
            $('#id_sighting_create-species_search').val('{{ object.common_name }}').attr('readonly', true).addClass('cancel');
        }

        // initiate continous scrolling
        $(document).ready(function () {
            $(window).scroll( function() {
                if($(window).scrollTop() == $(document).height() - $(window).height()) {
                    latestSightingScroll();
                }
            });
            latestSightingScroll();
        });

        initLikeButton();
    </script>
{% endblock %}

{% load action %}
{% load humanize %}
{% load sighting %}
{% load wildlife %}

{% block content %}

    {% sighting_map limit=20 species=object %}

    <div class="row-fluid">
        <div class="span8 hidden-phone">
            <div class="page-header">
                <h2>
                    {{ object.common_name }}

                    {% if request.user.is_authenticated %}
                        <a class="btn btn-success btn-header pull-right" href="#id_new_sighting" data-toggle="modal">
                            <i class="icon-plus icon-white"></i> &nbsp;Add New Sighting
                        </a>
                    {% else %}
                        <a class="btn btn-success btn-header pull-right" href="#id_signup_modal" data-toggle="modal">
                            <i class="icon-plus icon-white"></i> &nbsp;Add New Sighting
                        </a>
                    {% endif %}

                </h2>
            </div>

            <div class="latest-sightings" data-split="2" data-limit="20" data-offset="0" data-species="{{ object.id }}"></div>
            {% if not object.public %}
                <div class="hero-unit hero-unit-small">
                    <h3>
                        {{ object.common_name }} is a Protected Species<br/>
                        <small>Due to the risk that poachers may use this data, these sightings are not publicly
                        available.</small>
                    </h3>
                </div>
            {% endif %}

        </div>

        <div class="span8 visible-phone">
            <div class="media">
                <a class="pull-left" href="{{ object.get_absolute_url }}">
                    <img class="media-object img-rounded lightest" src="{% resize_image object.default_image 60 60 %}" width="60" height="60" alt="{{ object.common_name }} ({{ object.scientific_name }})"/>
                </a>
                <div class="media-body">
                    <h6>
                        {{ object.common_name }}<br/>
                        <small><em>{{ object.scientific_name }}</em></small><br/>
                        <i class="icon-camera"></i>
                        <small>{{ object.sightings.public.active.count }} Sightings</small> &nbsp;
                        <i class="icon-star"></i>
                        <small><span class="like-count">0</span> Likes</small> &nbsp;
                    </h6>
                </div>
            </div>

            <div class="spacer"></div>

            {% like_button %}
            {% include 'action/share.html' %}

            <hr/>

            <p>
                <small>{{ object.general_info|default:"" }}</small>
                <h6><small>Source: <a href="http://en.wikipedia.org/wiki/{{ object.common_name }}", target="blank">Wikipedia</a></small></h6>
            </p>

            <div class="accordion" id="id_accordion-species_info">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#id_accordion-species_info" href="#id_accordion-species_info_body">
                            Species Info
                            <i class="pull-right icon-chevron-down"></i>
                        </a>
                    </div>
                    <div id="id_accordion-species_info_body" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <small>
                                <p><strong>Classification:</strong> {{ object.classification|capfirst }}</p>
                                {% if object.male_info.height or object.female_info.height %}
                                    <p>
                                        <strong>Height:</strong>
                                        {% if object.male_info.height %}{{ object.male_info.height|humanize_measurement:"m" }} (M){% endif %}
                                        {% if object.female_info.height %}{{ object.female_info.height|humanize_measurement:"m" }} (F){% endif %}
                                    </p>
                                {% endif %}
                                {% if object.male_info.length or object.female_info.length %}
                                    <p>
                                        <strong>Length:</strong>
                                        {% if object.male_info.length %}{{ object.male_info.length|humanize_measurement:"m" }} (M){% endif %}
                                        {% if object.female_info.length %}{{ object.female_info.length|humanize_measurement:"m" }} (F){% endif %}
                                    </p>
                                {% endif %}
                                {% if object.male_info.mass or object.female_info.mass %}
                                    <p>
                                        <strong>Mass:</strong>
                                        {% if object.male_info.mass %}{% if object.male_info.mass >= 1000 %}{{ object.male_info.mass|intcomma }}{% else %}{{ object.male_info.mass }}{% endif %}kg (M){% endif %}
                                        {% if object.female_info.mass %}{% if object.female_info.mass >= 1000 %}{{ object.female_info.mass|intcomma }}{% else %}{{ object.female_info.mass }}{% endif %}kg (F){% endif %}
                                    </p>
                                {% endif %}
                                {% if object.male_info.horn_length or object.female_info.horn_length %}
                                    <p>
                                        <strong>Horn Length:</strong>
                                        {% if object.male_info.horn_length %}{{ object.male_info.horn_length|humanize_measurement:"m" }} (M){% endif %}
                                        {% if object.female_info.horn_length %}{{ object.female_info.horn_length|humanize_measurement:"m" }} (F){% endif %}
                                    </p>
                                {% endif %}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#id_accordion-species_info" href="#id_accordion-similiar_species_body">
                            Similiar Species
                            <i class="pull-right icon-chevron-down"></i>
                        </a>
                    </div>
                    <div id="id_accordion-similiar_species_body" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% for species in object.similiar_species.all %}
                                <small>
                                    <div>
                                        <img src="{% resize_image species.inverted_default_image 30 30 %}" class="img-rounded" width="30" height="30" alt="{{ species.common_name }}" /> &nbsp;
                                        <a href="{{ species.get_absolute_url }}">{{ species.common_name }}</a>
                                    </div>
                                </small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#id_accordion-species_info" href="#id_accordion-occurs_in_body">
                            Occurs In
                            <i class="pull-right icon-chevron-down"></i>
                        </a>
                    </div>
                    <div id="id_accordion-occurs_in_body" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% for reserve in object.reserves.all %}
                                <small>
                                    <div>
                                        <i class="icon-leaf">&nbsp;</i> &nbsp;
                                        <a href="{% url 'sighting:list' reserve.slug object.slug %}">{{ reserve.name }}</a>
                                    </div>
                                </small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="latest-sightings" data-split="1" data-limit="10" data-offset="0" data-species="{{ object.id }}"></div>
            {% if not object.public %}
                <div>
                    <h5>
                        {{ object.common_name }} is a Protected Species<br/>
                        <small>Due to the risk that poachers may use this data, these sightings are not publicly
                        available.</small>
                    </h5>
                </div>
            {% endif %}

        </div>

        <div class="span3 pull-right hidden-phone">
            <div class="media">
                <a class="pull-left" href="{{ object.get_absolute_url }}">
                    <img class="media-object img-rounded lightest" src="{% resize_image object.default_image 60 60 %}" width="60" height="60" alt="{{ object.common_name }} ({{ object.scientific_name }})"/>
                </a>
                <div class="media-body">
                    <h6>
                        {{ object.common_name }}<br/>
                        <small><em>{{ object.scientific_name }}</em></small><br/>
                        <i class="icon-camera"></i>
                        <small>{{ object.sightings.public.active.count }} Sightings</small> &nbsp;
                        <i class="icon-star"></i>
                        <small><span class="like-count">0</span> Likes</small> &nbsp;
                    </h6>
                </div>
            </div>

            <div class="spacer"></div>

            {% like_button %}
            {% include 'action/share.html' %}

            <hr/>

            <div>
                <small>{{ object.general_info|default:"" }}</small>
                <h6><small>Source: <a href="http://en.wikipedia.org/wiki/{{ object.common_name }}", target="blank">Wikipedia</a></small></h6>
            </div>

            <div class="spacer"></div>

            <div>
                <div class="page-header">
                    <h4>Species Info</h4>
                </div>
                <small>
                    <p><strong>Classification:</strong> {{ object.classification|capfirst }}</p>
                    {% if object.male_info.height or object.female_info.height %}
                        <p>
                            <strong>Height:</strong>
                            {% if object.male_info.height %}{{ object.male_info.height|humanize_measurement:"m" }} (M){% endif %}
                            {% if object.female_info.height %}{{ object.female_info.height|humanize_measurement:"m" }} (F){% endif %}
                        </p>
                    {% endif %}
                    {% if object.male_info.length or object.female_info.length %}
                        <p>
                            <strong>Length:</strong>
                            {% if object.male_info.length %}{{ object.male_info.length|humanize_measurement:"m" }} (M){% endif %}
                            {% if object.female_info.length %}{{ object.female_info.length|humanize_measurement:"m" }} (F){% endif %}
                        </p>
                    {% endif %}
                    {% if object.male_info.mass or object.female_info.mass %}
                        <p>
                            <strong>Mass:</strong>
                            {% if object.male_info.mass %}{% if object.male_info.mass >= 1000 %}{{ object.male_info.mass|intcomma }}{% else %}{{ object.male_info.mass }}{% endif %}kg (M){% endif %}
                            {% if object.female_info.mass %}{% if object.female_info.mass >= 1000 %}{{ object.female_info.mass|intcomma }}{% else %}{{ object.female_info.mass }}{% endif %}kg (F){% endif %}
                        </p>
                    {% endif %}
                    {% if object.male_info.horn_length or object.female_info.horn_length %}
                        <p>
                            <strong>Horn Length:</strong>
                            {% if object.male_info.horn_length %}{{ object.male_info.horn_length|humanize_measurement:"m" }} (M){% endif %}
                            {% if object.female_info.horn_length %}{{ object.female_info.horn_length|humanize_measurement:"m" }} (F){% endif %}
                        </p>
                    {% endif %}
                </small>
            </div>
            {% if object.similiar_species.all %}
                <p>&nbsp;</p>
                <div>
                    <div class="page-header">
                        <h4>Similiar Species</h4>
                    </div>
                    {% for species in object.similiar_species.all %}
                        <small>
                            <div>
                                <img src="{% resize_image species.inverted_default_image 30 30 %}" class="img-rounded" width="30" height="30" alt="{{ species.common_name }}" /> &nbsp;
                                <a href="{{ species.get_absolute_url }}">{{ species.common_name }}</a>
                            </div>
                        </small>
                    {% endfor %}
                </div>
            {% endif %}
            <p>&nbsp;</p>
            <div>
                <div class="page-header">
                    <h4>Occurs In</h4>
                </div>
                {% for reserve in object.reserves.all %}
                    <small>
                        <div>
                            <i class="icon-leaf">&nbsp;</i> &nbsp;
                            <a href="{% url 'sighting:list' reserve.slug object.slug %}">{{ reserve.name }}</a>
                        </div>
                    </small>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
