{% extends "base.html" %}

{% block title %}{{ object.common_name }} Sightings in Southern Africa{% endblock %}

{% load humanize %}
{% load sighting %}
{% load wildlife %}

{% block content %}
    {% sighting_map limit=5 species=object %}
    <div class="row-fluid">
        <div class="span8">
            <div class="page-header">
                <h2>
                    {{ object.common_name }}
                    <small><em>{{ object.scientific_name }}</em></small>
                    <a class="btn btn-success btn-header pull-right" href="#id_new_sighting" data-toggle="modal">
                        <i class="icon-plus icon-white"></i> &nbsp;Add New Sighting
                    </a>
                </h2>
            </div>
            {% latest_sightings split=2 limit=20 species=object %}
        </div>
        <div class="span3 pull-right">
            <div>
                <div class="page-header">
                    <h4>Species Info</h4>
                </div>
                <small>
                    <p><strong>Classification:</strong> {{ object.classification|capfirst }}</p>
                    {% if object.male_info.height or object.female_info.height %}
                        <p>
                            <strong>Height:</strong>
                            {% if object.male_info.height %}{{ object.male_info.height|humanize_measurement:"m" }} (M){% endif %}
                            {% if object.female_info.height %}{{ object.female_info.height|humanize_measurement:"m" }} (F){% endif %}
                        </p>
                    {% endif %}
                    {% if object.male_info.length or object.female_info.length %}
                        <p>
                            <strong>Length:</strong>
                            {% if object.male_info.length %}{{ object.male_info.length|humanize_measurement:"m" }} (M){% endif %}
                            {% if object.female_info.length %}{{ object.female_info.length|humanize_measurement:"m" }} (F){% endif %}
                        </p>
                    {% endif %}
                    {% if object.male_info.mass or object.female_info.mass %}
                        <p>
                            <strong>Mass:</strong>
                            {% if object.male_info.mass %}{{ object.male_info.mass|intcomma }}kg (M){% endif %}
                            {% if object.female_info.mass %}{{ object.female_info.mass|intcomma }}kg (F){% endif %}
                        </p>
                    {% endif %}
                    {% if object.male_info.horn_length or object.female_info.horn_length %}
                        <p>
                            <strong>Horn Length:</strong>
                            {% if object.male_info.horn_length %}{{ object.male_info.horn_length }}mm (M){% endif %}
                            {% if object.female_info.horn_length %}{{ object.female_info.horn_length }}mm (F){% endif %}
                        </p>
                    {% endif %}
                </small>
            </div>
            <hr/>
            <div>
                <small>{{ object.general_info|default:"" }}</small>
                <h6><small>Source: <a href="http://en.wikipedia.org/wiki/{{ object.common_name }}", target="blank">Wikipedia</a></small></h6>
            </div>
            {% if object.similiar_species.all %}
                <div>
                    <div class="page-header">
                        <h4>Similiar Species</h4>
                    </div>
                    {% for species in object.similiar_species.all %}
                        <small>
                            <div>
                                <img src="{% resize_image species.default_image 30 30 %}" class="img-rounded invert" width="30" height="30" /> &nbsp;
                                <a href="{{ species.get_absolute_url }}">{{ species.common_name }}</a>
                            </div>
                        </small>
                    {% endfor %}
                </div>
            {% endif %}
            <div>
                <div class="page-header">
                    <h4>Occurs In</h4>
                </div>
                {% for reserve in object.reserves.all %}
                    <small>
                        <div>
                            <i class="icon-map-marker">&nbsp;</i> &nbsp;
                            <a href="{{ reserve.get_absolute_url }}">{{ reserve.name }}</a>
                        </div>
                    </small>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
