{% extends "base.html" %}

{% load like %}
{% load profile %}
{% load reserve %}
{% load sighting %}
{% load wildlife %}

{% block content %}

    {% featured_reserve_maps limit=3 %}

    <div class="row-fluid">
        <div class="span7">
            <div class="hidden-phone">
                <div class="page-header">
                    <h1>About Bushlog</h1>
                </div>
                <p class="lead">Bushlog has been a few years in the making, a lot of that time spent planning, and is
                essentially an interactive application which allows registered users to share their wildlife sightings
                with other like-minded people.</p>
            </div>

            <div class="visible-phone">
                <div class="page-header">
                    <h4>About Bushlog</h4>
                </div>
                <p>Bushlog has been a few years in the making, a lot of that time spent planning, and is
                essentially an interactive application which allows registered users to share their wildlife sightings
                with other like-minded people.</p>
                <p>Email us on {{ 'info@bushlog.com'|urlize }}</p>
            </div>

            <p>&nbsp;</p>

            <div class="hidden-phone">
                <div class="span6">
                    <div class="hero-unit hero-unit-small align-center">
                        <h1>{% user_count %}</h1>
                        <p class="text-center">Active Users</p>
                    </div>
                </div>
                <div class="span6">
                    <div class="hero-unit hero-unit-small align-center">
                        <h1>{% sighting_count %}</h1>
                        <p class="text-center">Sightings</p>
                    </div>
                </div>
            </div>

            <div class="hidden-phone">
                <div class="span4">
                    <div class="hero-unit hero-unit-small align-center">
                        <h1>{% reserve_count %}</h1>
                        <p class="text-center">Reserves</p>
                    </div>
                </div>
                <div class="span4">
                    <div class="hero-unit hero-unit-small align-center">
                        <h1>{% species_count %}</h1>
                        <p class="text-center">Species</p>
                    </div>
                </div>
                <div class="span4">
                    <div class="hero-unit hero-unit-small align-center">
                        <h1>{% reserve_country_count %}</h1>
                        <p class="text-center">Countries</p>
                    </div>
                </div>
            </div>

            <div class="hidden-phone">
                <div class="span6">
                    <div class="hero-unit hero-unit-small align-center">
                        <h1>{% like_count %}</h1>
                        <p class="text-center">Likes</p>
                    </div>
                </div>
                <div class="span6">
                    <div class="hero-unit hero-unit-small align-center">
                        <h1>0</h1>
                        <p class="text-center">Comments</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="span4 pull-right hidden-phone">
            <div class="hero-unit hero-unit-small">
                <h2>What's New?</h2>
                <p>&nbsp;</p>
                <p>Bushlog has finally been launched and although it's still in a beta phase, development has been
                stepped up and we will be releasing new features fortnightly.</p>
            </div>

            <p>&nbsp;</p>

            <div>
                <div class="page-header">
                    <h2>Conservation</h2>
                </div>
                <p>We believe that the data collected can be used for conservation efforts, and therefor share logged
                sighting with registered and accredited researchers and conservation organisations. So you are in
                effect helping with the study and preservation of our precious wildlife.</p>

                <p>Bushlog is non-profit and though the contributions of our advertisers we will be able to fund
                conservation efforts. We believe in a hands on approach to funding such causes, and therefore prefer to
                sponsor assets, man-hours and the likes rather than making direct cash donations.</p>
            </div>
        </div>

         <div class="span4 pull-right visible-phone">
            <div class="hero-unit hero-unit-small">
                <h2>What's New?</h2>
                <p>Bushlog has finally been launched and although it's still in a beta phase, development has been
                stepped up and we will be releasing new features fortnightly.</p>
            </div>

            <p>&nbsp;</p>

            <div class="page-header">
                <h4>Conservation</h4>
            </div>
            <p>We believe that the data collected can be used for conservation efforts, and therefor share logged
            sighting with registered and accredited researchers and conservation organisations. So you are in
            effect helping with the study and preservation of our precious wildlife.</p>
        </div>
    </div>
{% endblock %}
