{% extends "base.html" %}

{% block content %}
    <div id="map-carousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="active item">
                <div id="map-example-knp" class="map-example well" data-map="[[-23.689805,31.168213], [-23.699805,31.168213], [-23.679805,31.167213]]" data-meta="[, {'species': 'elephant'}, {'species': 'wilddog'}, {'species': 'baboon'}]"></div>
                <div class="carousel-caption rounded-corners-bottom">
                    <h5><i class="icon-map-marker icon-white"></i>&nbsp; Kruger National Park</h5>
                </div>
            </div>
            <div class="item">
                <div id="map-example-hluhluwe" class="map-example well" data-map="[[-28.058953,32.087803], [-28.048953,32.097803], [-28.058953,32.077803]]"></div>
                <div class="carousel-caption rounded-corners-bottom">
                    <h5><i class="icon-map-marker icon-white"></i>&nbsp; Hluhluwe Game Reserve</h5>
                </div>
            </div>
            <div class="item">
                <div id="map-example-addo" class="map-example well" data-map="[[-33.399345,25.809631], [-33.399345,25.819631], [-33.399645,25.829531]]"></div>
                <div class="carousel-caption rounded-corners-bottom">
                    <h5><i class="icon-map-marker icon-white"></i>&nbsp; Addo Elephant National Park</h5>
                </div>
            </div>
        </div>
        
        <a class="carousel-control left" href="#map-carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#map-carousel" data-slide="next">&rsaquo;</a>
    </div>
    <div class="row">
        <div class="hero-unit span3 hero-unit-small">
            <h1>Welcome</h1>
            <p>&nbsp;</p>
            <p>Welcome to BushLog, a fun, interactive way to log your wildlife sighting and browse the sighting of other wildlife enthusiasts while on safari in one of the many game reserves
            in South Africa.</p>
        </div>
        <div class="hero-unit span3 hero-unit-small">
            <h1>Register</h1>
            <p>&nbsp;</p>
            <p>Welcome to BushLog, a fun, interactive way to log your wildlife sighting and browse the sighting of other wildlife enthusiasts while on safari in one of the many game reserves
            in South Africa.</p>
        </div>
        <div class="hero-unit span3 hero-unit-small">
            <h1>Login</h1>
            <p>&nbsp;</p>
            <p>Welcome to BushLog, a fun, interactive way to log your wildlife sighting and browse the sighting of other wildlife enthusiasts while on safari in one of the many game reserves
            in South Africa.</p>
        </div>
    </div>
{% endblock %}
