{% extends "base.html" %}

{% block content %}

    {% load reserve %}

    {% featured_reserve_maps %}
    <div class="row-fluid">
        {% if not request.user.is_authenticated %}
            <div class="hero-unit span8 hero-unit-small hero-unit-index">
                <h1>Welcome</h1>
                <p>&nbsp;</p>
                <p>Welcome to BushLog, a fun, interactive way to record and share your wildlife sightings in one of the
                many game reserves in Southern Africa. Browse the sighting of other nature enthusiasts, comment on game sightings and
                interact with like-minded people, all the while helping researchers and conservationists protect Africa's
                biodiversity.</p>
                <div class="spacer">&nbsp;</div>
                <div class="pull-right">
                    <button class="btn btn-success" type="button">About BushLog</button>
                    <button class="btn btn-info" type="button">Researcher Registration</button>
                </div>
            </div>
            <div class="hero-unit span4 hero-unit-small hero-unit-index signin-container">
                <h1>Sign In</h1>
                <p>&nbsp;</p>
            </div>
        {% else %}
            <div class="hero-unit span4 hero-unit-small hero-unit-index">
                <h1>Spotted Anything?</h1>
                <p>&nbsp;</p>
                <p>Have you spotted any wildlife lately. Than</p>
                <div class="spacer">&nbsp;</div>
                <div class="pull-right">
                    <button class="btn btn-success btn-header pull-right" type="button">
                        <i class="icon-plus icon-white"></i> &nbsp;Add Your Sighting
                    </button>
                </div>
            </div>
            <div class="hero-unit span4 hero-unit-small hero-unit-index">
                <h1>Spotted Anything?</h1>
                <p>&nbsp;</p>
                <p>Have you spotted any wildlife lately. Than</p>
                <div class="spacer">&nbsp;</div>
                <div class="pull-right">
                    <button class="btn btn-success btn-header pull-right" type="button">
                        <i class="icon-plus icon-white"></i> &nbsp;Add Your Sighting
                    </button>
                </div>
            </div>
            <div class="hero-unit span4 hero-unit-small hero-unit-index">
                <h1>Spotted Anything?</h1>
                <p>&nbsp;</p>
                <p>Have you spotted any wildlife lately. Than</p>
                <div class="spacer">&nbsp;</div>
                <div class="pull-right">
                    <button class="btn btn-success btn-header pull-right" type="button">
                        <i class="icon-plus icon-white"></i> &nbsp;Add Your Sighting
                    </button>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row-fluid">
        <div>
            <div class="page-header">
                <h1>Latest Activity</h1>
            </div>
            <p>&nbsp;</p>
            {% load sighting %}
            {% latest_sightings split=3 limit=10 %}
            <p></p>
        </div>
    </div>
{% endblock %}
