{% extends "base.html" %}

{% block content %}
    {% load reserve %}
    {% featured_reserve_maps %}
    <div class="row">
        <div class="hero-unit span7 hero-unit-small hero-unit-index">
            <h1>Welcome</h1>
            <p>&nbsp;</p>
            <p>Welcome to BushLog, a fun, interactive way to record and share your wildlife sightings in one of the
            many game reserves in Southern Africa. Browse the sighting of other nature enthusiasts, comment on game sightings and
            interact with like-minded people, all the while helping researchers and conservationists protect Africa's
            biodiversity.</p>
        </div>
        <div class="hero-unit span3 hero-unit-small hero-unit-index signin-container">
            <h1>Sign In</h1>
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Latest Activity</h1>
            </div>
            <p>&nbsp;</p>
            {% load sighting %}
            {% latest_sightings split=1 limit=10 %}
            <p></p>
        </div>
    </div>
{% endblock %}
