{% extends "base.html" %}

{% block content %}

    {% load reserve %}

    {% featured_reserve_maps limit=3 %}

    <div class="row-fluid">
        <div class="hero-unit span12 hero-unit-small hero-unit-index">
            <h1>Terms &amp; Conditions</h1>
            <p>&nbsp;</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
            hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
            eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
            feugait nulla facilisi.</p>
        </div>
        <div class="clear">&nbsp;</div>
        <div class="hero-unit span12 hero-unit-small hero-unit-index">
            <h1>Privacy Policy</h1>
            <p>&nbsp;</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
            hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
            eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
            feugait nulla facilisi.</p>
        </div>
    </div>
{% endblock %}
