{% extends "base.html" %}

{% block content %}

    {% load reserve %}

    {% featured_reserve_maps limit=3 %}

    <div class="row-fluid">
        <div class="span12">
            <div class="hidden-phone">
                <div class="page-header">
                    <h1>Privacy Policy</h1>
                </div>
                <p class="lead">Your privacy on the Internet is of the utmost importance to us. At Bushlog, we want to make
                your experience online satisfying and safe. Because we gather certain types of information about our users,
                we feel you should fully understand our policy and the terms and conditions surrounding the capture and use
                of that information. This privacy statement discloses what information we gather and how we use it.</p>
            </div>

            <div class="visible-phone">
                <div class="page-header">
                    <h3>Privacy Policy</h3>
                </div>
                <p>Your privacy on the Internet is of the utmost importance to us. At Bushlog, we want to make
                your experience online satisfying and safe. Because we gather certain types of information about our users,
                we feel you should fully understand our policy and the terms and conditions surrounding the capture and use
                of that information. This privacy statement discloses what information we gather and how we use it.</p>
            </div>

            <p>&nbsp;</p>

            <h5>The Information We Gather</h5>
            <p>
                Bushlog gathers two types of information about users:
                <ul>
                    <li>Information that users provide through optional, voluntary submissions. These are voluntary
                    submissions to receive our electronic communications, to participate by adding, commenting and liking
                    sightings, to invite friends, and from participation in social sharing.</li><br/>
                    <li>Information gathered through aggregated tracking information derived mainly by tallying page
                    views throughout our sites. This information allows us to better tailor our content to readers'
                    needs and to help our advertisers and sponsors better understand the demographics of our audience.
                    Because Bushlog derives its revenue mainly from sponsorships and advertising, providing such
                    aggregated demographic data is essential to keeping our service free to users. Under no
                    circumstances does Bushlog divulge any information about an individual user to a third party.</li>
                </ul>
            </p>

            <p>&nbsp;</p>

            <h5>Why We Track Usage</h5>
            <p>Bushlog uses the above-described information to tailor our content to suit your needs and help our
            advertisers better understand our audience's demographics. This is essential to keeping our service free and
            raise funds for conservation initiatives. We will not share information about individual users with any third
            party, except to comply with applicable law or valid legal process or to protect the personal safety of our
            users or the public.</p>

            <p>&nbsp;</p>

            <h5>Security</h5>
            <p>Bushlog operates secure data networks protected by industry standard firewall and password protection
            systems. Our security and privacy policies are periodically reviewed and enhanced as necessary and only
            authorized individuals have access to the information provided by our customers.</p>
        </div>
    </div>

    <p>&nbsp;</p>

    <div class="row-fluid">
        <div class="span12">
            <div class="hidden-phone">
                <div class="page-header">
                    <h1>Terms Of Service</h1>
                </div>
                <p class="lead">At Bushlog we believe the quality of content is of the utmost importance and we therefore
                modarate and monitor all user generated content and will not tolarate mis-use of this service,  in any
                form. The administrators reserve the rights to remove any content, or block user accounts if any of the
                below terms of use are not adhired to.</p>
            </div>

            <div class="visible-phone">
                <div class="page-header">
                    <h3>Terms Of Service</h3>
                </div>
                <p>At Bushlog we believe the quality of content is of the utmost importance and we therefore
                modarate and monitor all user generated content and will not tolarate mis-use of this service,  in any
                form. The administrators reserve the rights to remove any content, or block user accounts if any of the
                below terms of use are not adhired to.</p>
            </div>

            <p>&nbsp;</p>

            <h5>You agree to the following, through the use of this service:</h5>
            <ul>
                <li>That all comments, discriptions of sightings and uploaded media will stay on topic.</li><br/>
                <li>Bushlog maintains a 3 (three) strike rule. If you are found to contrivene these terms of use on three
                seperate occations, your account will be automatically suspended, without notification.</li><br/>
                <li>No racial, deflamatory, abussive, valgar, obsene, religious, political or material which is sexual
                in nature will be tolerated. Neither will any content deemed as spam, advertising or solicitation.</li><br/>
                <li>You agree that the content you submit is infact truthful, any wildlife sighting not thought to be
                accurate will be removed, we will however attempt to verify the accuracy with you before doing so.</li>
            </ul>
        </div>
    </div>
{% endblock %}
