
{% extends "base.html" %}

{% block title %}Press Releases Bushlog - Wildlife Sightings{% endblock %}
{% block decription %}
    Wildlife Sighting in Southern Africa - Press Releases
{% endblock %}

{% block content %}

    {% load reserve %}

    {% featured_reserve_maps limit=3 %}

    <ul class="nav nav-tabs">
        <li><a href="{% url 'about' %}">About</a></li>
        <li class="active"><a href="{% url 'press' %}">Press</a></li>
        <li><a href="{% url 'support' %}">Support</a></li>
        <li><a href="{% url 'legal' %}">Legal</a></li>
        <!--<li><a href="#">Developers</a></li>
        <li><a href="{% url 'researchers' %}">Researchers</a></li>
        <li><a href="#">Advertising</a></li>-->
    </ul>

    <div class="row-fluid">
        <div class="span12">
            <div>
                <div class="page-header">
                    <h1 class="hidden-phone">Press Releases</h1>
                    <h3 class="visible-phone">Press Releases</h3>
                </div>

                <p class="lead"><strong>Bushlog has been Launched!</strong> Have you ever been in a game reserve in Southern Africa and got desperate to see a pride
                of lions on a kill or a leopard relaxing in a tree, but you never seem to be able to do so. Well
                Bushlog may be the app you're looking for<small> - 13 April 2013</small></p>

                <p>Bushlog was conceived for a couple of reason by it's founder, Jonathan Bydendyk, an avid wildlife
                enthusiast. </p>

                <p>The first reason, he says, was that he want to create a community for like-minded, conservation
                savvy people, who wanted to share their wildlife sightings and explore the natural world while not away
                in one of the many game reserves in South Africa. Or use the app to find interesting wildlife while in
                the game park.</p>

                <p>He also believes that collaboratively the community could gather crucial data on the habits,
                behaviour, movement and general health of indigenous wildlife, which would aid researchers and
                conservation organisations to focus their conservation efforts more effectively. </p>

                <p>Bushlog is non-profit and and hopes in time that any advertising revenue raised can be put to use in
                saving critically endangered and threatened species, such as the Southern White Rhino, Black Rhino and
                African Wild Dog. </p>
            </div>
        </div>
    </div>
{% endblock %}
