{% load sighting %}

<div id="map-carousel" class="carousel slide hidden-phone">
    <div class="carousel-inner">
        {% for obj in obj_list %}
            <div class="{% if forloop.first %}active {% endif %}item">
                <div id="map-{{ obj.slug }}" class="map well" data-map='{% latest_sightings_mapdata limit=5 reserve=obj %}'></div>
                <div class="carousel-caption rounded-corners-bottom">
                    <h5>
                        <i class="icon-map-marker icon-white"></i>&nbsp; {{ obj.name }}
                    </h5>
                </div>
            </div>
        {% endfor %}
    </div>

    <a class="carousel-control left" href="#map-carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#map-carousel" data-slide="next">&rsaquo;</a>
</div>
