{% if weather_data.icon %}
    <div class="media hidden-phone">
        <img src="/static/img/icons/weather/{{ weather_data.icon }}.png" class="media-object img-rounded pull-left" width="60" height="60" alt="{{ weather_data.summary }}" />
        <div class="media-body">
            <h3 class="weather-temperature">
                {% if weather_data.temperature %}{{ weather_data.temperature }}ºC{% else %}--{% endif %}
            </h3>
            <br/>
            <h5 class="weather-summary"><small>{{ weather_data.summary }}</small></h5>
        </div>
    </div>

    <div class="media visible-phone pull-top">
        <br/>
        <img src="/static/img/icons/weather/{{ weather_data.icon }}.png" class="media-object img-rounded pull-left" width="30" height="30" alt="{{ weather_data.summary }}" />
        <div class="media-body">
            <h5 class="weather-temperature">
                {% if weather_data.temperature %}{{ weather_data.temperature }}ºC{% else %}--{% endif %}
            </h5>
            <br/>
            <h6 class="weather-summary"><small>{{ weather_data.summary }}</small></h6>
        </div>
    </div>
{% endif %}
