{% if weather_data.icon %}
    <div class="media">
        <img src="/static/img/icons/weather/{{ weather_data.icon }}.png" class="media-object img-rounded pull-left" width="60" height="60" alt="{{ weather_data.summary }}" />
        <div class="media-body">
            <h3 class="weather-temperature">
                {{ weather_data.temperature }}ºC
            </h3>
            <br/>
            <h5 class="weather-summary"><small>{{ weather_data.summary }}</small></h5>
        </div>
    </div>
{% endif %}
