{% load sighting %}

{% if split %}
    <div class="row">
    {% for object in object_list %}
        <div class="span6">
            <div class=" media">
                {% if object.cover_image %}
                    <a class="pull-left" href="{% url sighting:index object.reserve.slug object.species.slug object.id %}">
                        <img class="media-object img-rounded" src="{% resize_image object.cover_image 50 50 %}" width="50" height="50" />
                    </a>
                {% else %}
                    <a class="pull-left" href="{% url sighting:index object.reserve.slug object.species.slug object.id %}">
                        <img class="media-object img-rounded lightest" src="{% resize_image object.species.default_image 50 50 %}" width="50" height="50" />
                    </a>
                {% endif %}
                <div class="media-body">
                    <h6>
                        <a href="{% url profile:index object.user.profile.slug %}">{{ object.user.username }}</a>
                        <small> added a new sighting of a </small>
                        <a href="{% url wildlife:index object.species.slug %}">{{ object.species.common_name }}</a>
                        <small> in the </small>
                        <a href="{% url reserve:index object.reserve.slug %}">{{ object.reserve.name }}</a>
                        <small>
                            {{ object.date_of_sighting.date|fuzzy_date }}
                             -
                            <a href="{% url sighting:index object.reserve.slug object.species.slug object.id %}">
                                <strong>view sighting</strong>
                            </a>
                        </small>
                    </h6>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
            <div>&nbsp;</div>
        {% endif %}
    {% endfor %}
    </div>
{% else %}
    {% for object in object_list %}
        <div class="row span8">
            <div class=" media">
                {% if object.cover_image %}
                    <a class="pull-left" href="{% url sighting:index object.reserve.slug object.species.slug object.id %}">
                        <img class="media-object img-rounded" src="{% resize_image object.cover_image 50 50 %}" width="50" height="50" />
                    </a>
                {% else %}
                    <a class="pull-left" href="{% url sighting:index object.reserve.slug object.species.slug object.id %}">
                        <img class="media-object img-rounded lightest" src="{% resize_image object.species.default_image 50 50 %}" width="50" height="50" />
                    </a>
                {% endif %}
                <div class="media-body">
                    <h6>
                        <a href="{% url profile:index object.user.profile.slug %}">{{ object.user.username }}</a>
                        <small> added a new sighting of a </small>
                        <a href="{% url wildlife:index object.species.slug %}">{{ object.species.common_name }}</a>
                        <small> in the </small>
                        <a href="{% url reserve:index object.reserve.slug %}">{{ object.reserve.name }}</a>
                        <small>
                            {{ object.date_of_sighting.date|fuzzy_date }}
                             -
                            <a href="{% url sighting:index object.reserve.slug object.species.slug object.id %}">
                                <strong>view sighting</strong>
                            </a>
                        </small>
                    </h6>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    {% endfor %}
{% endif %}
