{% load sighting %}

{% if split %}
    <div class="row span12">
    {% for obj in obj_list %}
        <div class="span1 {% if forloop.counter|divisibleby:2 %}offset1{% endif %}">
            {% if obj.cover_image %}
                <img src="{% resize_image obj.cover_image 50 50 %}" class="img-rounded" width="50" height="50" />
            {% else %}
                <img src="{% resize_image obj.species.default_image 50 50 %}" class="img-rounded" width="50" height="50" />
            {% endif %}
        </div>
        <div class="span4 pull-top">
            <h6>
                <a href="{% url profile:index obj.user.username %}">{{ obj.user.username }}</a>
                <small> added a new sighting of a </small>
                <a href="#">{{ obj.species.common_name }}</a>
                <small> in the </small>
                <a href="{% url reserve:index obj.reserve.slug %}">{{ obj.reserve.name }}</a>
            </h6>
            <p>&nbsp;</p>
        </div>
    {% endfor %}
    </div>
{% else %}
    {% for obj in obj_list %}
    <div class="row span8">
        <div class="span1">
            {% if obj.cover_image %}
                <img src="{% resize_image obj.cover_image 50 50 %}" class="img-rounded" width="50" height="50" />
            {% else %}
                <img src="{% resize_image obj.species.default_image 50 50 %}" class="img-rounded" width="50" height="50" />
            {% endif %}
        </div>
        <div class="span6 pull-top">
            <h6>
                <a href="{% url profile:index obj.user.username %}">{{ obj.user.username }}</a>
                <small> added a new sighting of a </small>
                <a href="#">{{ obj.species.common_name }}</a>
                <small> in the </small>
                <a href="{% url reserve:index obj.reserve.slug %}">{{ obj.reserve.name }}</a>
            </h6>
            <p>&nbsp;</p>
        </div>
    </div>
    {% endfor %}
{% endif %}
