
{% load sighting %}

{% if object_list %}
    {% for object in object_list %}
        {% if forloop.first %}
            <div class="row-fluid">
        {% endif %}
                <div class="{% if split == 3 %}span4{% elif split == 2 %}span6{% else %}span12{% endif %}">
                    {% if forloop.counter > split or offset %}<hr/>{% endif %}
                    <div class="media hidden-phone">
                        {% if object.cover_image %}
                            <a class="pull-left" href="{{ object.get_absolute_url }}">
                                <img class="media-object img-rounded" src="{% resize_image object.cover_image 50 50 %}" width="50" height="50" alt="{{ object.species.common_name }} sighting in {{ object.reserve.name }}"/>
                            </a>
                        {% else %}
                            <a class="pull-left" href="{{ object.get_absolute_url }}">
                                <img class="media-object img-rounded lightest" src="{% resize_image object.species.default_image 50 50 %}" width="50" height="50" alt="{{ object.species.common_name }} sighting in {{ object.reserve.name }}" />
                            </a>
                        {% endif %}
                        <div class="media-body hidden-phone">
                            <h6>
                                {{ object.user.username }} <small> added a sighting of </small>
                                {{ object.species.common_name }} <small> in </small> {{ object.reserve.name }}
                                <small>
                                    {{ object.date_of_sighting.date|fuzzy_date }}
                                     -
                                    <a href="{{ object.get_absolute_url }}">
                                        <strong>view sighting</strong>
                                    </a>
                                </small>
                            </h6>
                        </div>
                    </div>
                    <div class="media mobile-list visible-phone" onclick="window.location='{{ object.get_absolute_url }}'">
                        {% if object.cover_image %}
                            <img class="media-object img-rounded pull-left" src="{% resize_image object.cover_image 50 50 %}" width="50" height="50" alt="{{ object.species.common_name }} sighting in {{ object.reserve.name }}"/>
                        {% else %}
                            <img class="media-object img-rounded pull-left lightest" src="{% resize_image object.species.default_image 50 50 %}" width="50" height="50" alt="{{ object.species.common_name }} sighting in {{ object.reserve.name }}" />
                        {% endif %}
                        <div class="media-body mobile-list-item">
                            <small>
                                <strong>{{ object.user.username }}</strong> added a sighting of
                                <strong>{{ object.species.common_name }}</strong> in <strong>{{ object.reserve.name }}</strong>
                            </small>
                        </div>
                    </div>
                </div>
        {% if forloop.counter|divisibleby:split or forloop.last %}
            </div>
            {% if not forloop.last %}
                <div class="row-fluid">
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
    <div class="row-fluid">
        <small>No {% if keyword == 'exclude_pk' %}similiar{% else %}recent{% endif %} sightings found
        {% if keyword == 'user' %}
            by {{ object.user.username|capfirst }}.
        {% elif keyword == 'reserve' %}
            in the {{ object.name }}.
        {% elif keyword == 'species' %}
            of {{ object.common_name }}.
        {% elif keyword == 'exclude_pk' %}
            of {{ object.species.common_name }} in {{ object.reserve.name }}.
        {% endif %}</small>
    </div>
{% endif %}
