{% load sighting %}

<div id="map-carousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="active item">
            <div class="map-example well rounded-corners-top" data-map='{{ mapdata }}'></div>
            <div class="carousel-caption rounded-corners-bottom">
                {% if keyword == 'user' %}
                    <h5><i class="icon-map-marker icon-white"></i>&nbsp; {{ object.user.username|capfirst }}'s Latest Sightings</h5>
                {% elif keyword == 'reserve' %}
                    <h5><i class="icon-map-marker icon-white"></i>&nbsp; Latest Sightings in the {{ object.name }}</h5>
                {% elif keyword == 'species' %}
                    <h5><i class="icon-map-marker icon-white"></i>&nbsp; Latest Sightings of {{ object.common_name }} </h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
