{% load sighting %}

<div id="map-carousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="active item">
            <div class="map well rounded-corners-top" data-map='{{ mapdata }}' data-bounds='{{ bounds }}'></div>

            <a class="btn btn-success btn-header span12 pull-right visible-phone" href="#id_new_sighting" data-toggle="modal">
                <i class="icon-plus icon-white"></i> &nbsp;Add New Sighting
            </a>

            <div class="carousel-caption rounded-corners-bottom hidden-phone">
                <h5><i class="icon-map-marker icon-white"></i>&nbsp;
                    {% if keyword == 'user' %}
                        {{ object.user.username|capfirst }}'s Latest Sightings
                    {% elif keyword == 'reserve' %}
                        {% if mapdata != '[]' %}Latest Sightings{% else %}No Recent Sightings{% endif %} in the {{ object.name }}
                    {% elif keyword == 'species' %}
                        {% if mapdata != '[]' %}Latest Sightings{% else %}No Recent Sightings{% endif %} of {{ object.common_name }}
                    {% elif keyword == 'pk' %}
                        Sighting of {{ object.species.common_name }} in {{ object.reserve.name }}
                    {% elif keyword == 'coordinates' %}
                        Sightings Near You
                    {% endif %}
                    <div class="pull-right">
                        <a href="#" class="hint" rel="tooltip" title="Expand&nbsp;Map" data-placement="left">
                            <i class="icon-chevron-down icon-white icon-expand-map">&nbsp;</i>
                        </a>
                    </div>
                </h5>
            </div>
        </div>
    </div>
</div>
